<div ng-controller="AllBlogsController as allblogsController" >

    <div class="container">
	    <div class = "col-lg-10">
		    <div class="row">
					<!-- <form class="form-inline">
						<div class="form-group">
							<label >Search</label>
							<input type="text" ng-model="search" class="form-control" placeholder="Search">
						</div>
					</form> -->
					<!-- http://www.bootply.com/t7O3HSGlbc# -->
                <!-- http://stackoverflow.com/questions/18552714/bootstrap-3-how-to-maximize-input-width-inside-navbar -->
                <form class="navbar-form">
                    <div class="form-group" style="display:inline;">
                      <div class="input-group" style="display:table;">
                        <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                        <input class="form-control" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text"  type="submit" ng-model="search">
                      </div>
                    </div>
                </form>
		    </div>
		    
			<div class="row" dir-paginate="blog in blogs|filter:search|itemsPerPage:4" ng-init='postedDate=convertJSONDateToJavascriptDate(blog.postedDate)'>
				<div class="[ col-xs-12 col-sm-offset-1 col-sm-11 ]">
					<ul class="event-list">
						<li>
						<!--
							<time datetime="2014-07-20 2000">
								<span class="day">{{postedDate}}</span>
							</time>
						-->
						
							<img alt="poster" src={{blog.posterUrl}} />
							<div class="info">
								<a href="/blog/index.html#/singleblog" ng-click="updateSelectedBlog(blog)">
			                        <h4 class="title">{{blog.title}}</h4>
		                 		</a>
								<p class="desc">{{blog.synopsis}}.</p>
								<p class="post-meta">Posted by <a href="#">{{blog.postedUserName}}</a> on {{postedDate}}</p>
							</div>
						</li
					</ul>
	    		</div>
	    	</div>

			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<dir-pagination-controls
					max-size="5"
					direction-links="true"
					boundary-links="true" >
				</dir-pagination-controls>
			</div>
		</div>   

		<div class="well col-lg-2">
	    	<h4>Blog Categories</h4>
	        <div >
	            <div >
	                <ul class="list-unstyled">
	                    <li><a href="#">Category Name</a>
	                    </li>
	                    <li><a href="#">Category Name</a>
	                    </li>
	                    <li><a href="#">Category Name</a>
	                    </li>
	                    <li><a href="#">Category Name</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
		</div>
    </div>   

    <!-- Main Content -->
<!--
    <div class="container">
    	<div class = "col-lg-10">
	        <div class="row" dir-paginate="blog in blogs|filter:search|itemsPerPage:2" ng-init='postedDate=convertJSONDateToJavascriptDate(blog.postedDate)'>
	            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	                <div class="post-preview">
	                 <a href="/CMADDemo/index.html#/singleblog" ng-click="updateSelectedBlog(blog)">
	                        <h2 class="post-title">
	                            {{blog.title}}
	                        </h2>
	                 </a>
	                        <h3 class="post-subtitle">
	                            {{blog.content}}
	                        </h3>
	                    <p class="post-meta">Posted by <a href="#">{{blog.postedUserName}}</a> on {{postedDate}}</p>
	                </div>
	                <hr>
	            </div>
	        </div>
        </div>
	</div>
-->
    
</div>