	<div ng-controller="SingleBlogPostController as singleBlogPostController" ng-show="user.isAuthenticated">
		<div class="container">
		    <div class="row">
		        <div class="col-md-12">
		            <div class="well well-sm">
		                <form novalidate>
		                <div class="row">                    
		                    <div class="col-md-12">
		                        <div class="form-group">
		                            <label for="name">Blog Title</label>
		                            <textarea name="title" id="blog_title" class="form-control" rows="2" cols="25" required="required" ng-model="blog.title"
		                                placeholder=""></textarea>
		                        </div>
		                    </div>
		                </div>
		                <div class="row">                    
		                    <div class="col-md-12">
		                        <div class="form-group">
		                            <label for="name">Blog Synopsis</label>
		                            <textarea name="synopsis" id="blog_synopsis" class="form-control" rows="4" cols="25" required="required" ng-model="blog.synopsis"
		                                placeholder=""></textarea>
		                        </div>
		                    </div>
		                </div>
		                <div class="row">                    
		                    <div class="col-md-12">
		                        <div class="form-group">
		                            <label for="name">Blog Content</label>

		                            <textarea name="content" id="blog_content" class="form-control" rows="12" cols="25" required="required" ng-model="blog.content"
		                                placeholder=""></textarea>

<!--
									<div class="container lighter">
									    <div text-angular ng-model="blog.content" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
									</div>
-->
		                        </div>
		                    </div>
		                </div>	                
	                    <div class="col-md-12">
		                    <!-- <input type="button" class="btn btn-primary pull-right" value="Save" ng-show="showAddForm" ng-click="addBlog(blog)"></input> -->
		                    <input type="button" class="btn btn-primary pull-right" value="Save" ng-click="addBlog(blog)"></input>
	                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>
<!--
        <div class="container text-center lighter border-around">
            <div class="lighter roboto">
                <p ng-bind="blog.content" class="text-left text-med text-gray"></p>
            </div>
        </div>
-->
	</div>