<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cmad_blog</property>
    <!-- <property name="hibernate.connection.url">jdbc:mysql://173.36.55.45:3306/cmad_blog</property>  -->
   <property name="hibernate.connection.username">root</property>
   <property name="hibernate.connection.password">admin</property>
    <!--  <mapping class="test.person" file="" jar="" package="" resource="User.hbm.xml"/>  -->
    <mapping resource="com/mydomain/model/User.hbm.xml" />
    <mapping resource="com/mydomain/model/Blog.hbm.xml" />
  </session-factory>
</hibernate-configuration>


